<a href="https://colab.research.google.com/github/ChristianMones/OOP-1-2/blob/main/OOP_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Python Classes and Objects

###Create a Class

In [1]:
class MyClass:
  pass

In [2]:
class OOP1_2:
  X=5
  print(X)

5

In [41]:
class OOP1_2:
  def __init__(self,name,age):  #__init__(parameter)
    self.name = name          #attributes
    self.age = age

  def identity(self):
    print(self.name,self.age)

person = OOP1_2("Maria", 39) #create objects

print(person.name)
print(person.age)

Maria
39

In [42]:
#Modify the Object Name


person.name="Rizette"
print(person.name)
print(person.age)

Rizette
39

In [43]:
person.age=40

print(person.name)
print(person.age)

Rizette
40

In [44]:
#Delete the Object

del person.name

In [45]:
print(person.name)

AttributeError: ignored

In [46]:
print(person.age)

40

Application 1 - Write a Python program that computes the area of a square, and name its class as Square, side as attribute.

In [48]:
class Square:
  def __init__(self,sides):
    self.sides = sides

  def area(self):
    return self.sides*self.sides    #formula to compute area of square

  def display(self):
    print("the area of the square is: ", self.area())

square = Square(4)

print(square.sides)
square.display()

4
the area of the square is:  16

Application 2 - Write a Python program that displays your full name, age, course, school. Create a class named MyClass, and name, age, school, course as attributes.

In [52]:
class MyClass:
  def __init__(self,name,age,school,course):
    self.name=name
    self.age=age
    self.school=school
    self.course=course

  def bio(self):
     print("Name:", self.name)
     print("Age:", self.age)
     print("School:", self.school)
     print("Course:", self.course)

stu=MyClass("Christian Angelo A. Mones",18,"Cavite State University","BS in Computer Engineering")

stu.bio()

Name: Christian Angelo A. Mones
Age: 18
School: Cavite State University
Course: BS in Computer Engineering